.container{
    width: 640px;
    margin: 0 auto;
    padding: 10px 16px;
    background-color: white;
    margin-top: 90px;

    .title{
        font-size: 1.6rem;
        margin-bottom: 10px;
    }

    .infoWrapper{

        .info{
            color: white;
            background-color:#d73737 ;
            font-size: 1.2rem;
            padding: 6px;
            margin-bottom: 8px;
        }

        .important{
            color: red;
        }

        .patern{
            margin-top: 10px;
            font-weight: bold;
            font-size: 1rem;
        }

        .example{
            border-bottom: 1px dotted #333;

            .exampleDescription{
                margin-top: 6px;
            }
        }
    }
}

@media screen and (max-width:650px) {
    .container{
        width: 100%;
    }
}