.form{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 500px;
    margin: 40px auto;
    border-radius: 8px;
    padding: 20px;

    .formTitle{
        font-size: 1.3rem;
        text-align: center;
        margin-bottom: 12px;
    }

    .labelEmail{
        color: #212121;
        margin-bottom: 8px;
    }

    .inputEmail{
        padding: 6px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        margin-bottom: 12px;
    }

    .labelContent{
        color: #212121;
        margin-bottom: 8px;
    }

    .inputContent{
        padding: 6px;
        height: 120px;
        border: 1px solid #cccccc;
        border-radius: 5px;
    }

    .sendButton{
        text-align: center;
        color: white;
        background: #d73737;
        border-radius: 5px;
        width: 60px;
        height: 30px;
        margin: 10px auto 0;
        
        &:hover{
            transition: 0.2s;
            opacity: 0.8;
        }
    }

    .caution{
        color: rgb(255, 57, 57);
    }

}

@media screen and (max-width:600px) {
    .form{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 80vw;
        margin: 40px auto;
        border-radius: 8px;
        padding: 20px;
    }    
}