.container{
    width: 640px;
    margin: 0 auto;
    padding-top: 90px;

    .cropper{
        position: absolute;
        top: -10000px;
        visibility: hidden;
    }

    .userArea{
        text-align: center;
        background-color: #efefef;
        position: relative;


        .userAreaHead{
  
            padding-bottom: 10px;
            margin-bottom: 18px;
            position: relative;
            background-color: #eb5050;
            background-color: #4d1a1a;
            background-color: #c24242;
            background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
            /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

            .pageTitle{
                color: #FFFFFF;
                font-size: 1rem;
                padding: 12px;
            }

            .authName{
                color: #FFFFFF;
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: 6px;
            }
        
            .authImage{
                border-radius: 100%;
                margin-top: 0px;
                margin-bottom: 4px;
            }
        }

        // .userAreaHead::after{
        //     content:"";
        //     position: absolute;
        //     width: 300px;
        //     height: 1px;
        //     bottom: 0;
        //     left: 50%;
        //     transform: translateX(-50%);
        //     background-color: #b9b9b9;
        // }
        

        .userAreaBody{
            padding: 0 40px 20px;

            .emptyState{
                font-size: 1.5rem;
                margin-top: 8px;
            }

            .topLink{
                width: 180px;
                border-radius: 5px;
                padding: 4px 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin:6px auto 6px;
                color: white;
                
                &:hover{
                    opacity: 0.8;
                    transition: 0.2s;
                }
                
                .top{
                    font-size: 0.8rem;
                    color: #212121;
                    text-decoration: underline;
                }
            }

            .dataWrapper{
                display: flex;
                align-items: stretch;
                gap: 24px;
                margin-bottom: 32px;
                
            .powerWrapper{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #FFFFFF;
                border-radius: 20px;
                box-shadow: 4px 4px 4px #b0b0b0;
                
                .powerImage{
                    width: 108px;
                }

                .power{
                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    .powerCaption{
                        font-size: 1.2rem;
                        font-weight: bold;
                        color: #313131;
                        margin: 0;
                    }
            
                    .powerNumber{
                        font-family: "Impact","Noto Sans CJK JP";
                        font-size: 2rem;
                        font-weight: 800;
                        color: #d73737;
                        margin: 0;
                    }
                }
        
                
            }
        
            .rankWrapper{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #FFFFFF;
                border-radius: 20px;
                box-shadow: 4px 4px 4px #b0b0b0;

                .rank{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .rankCaption{
                        font-size: 1.2rem;
                        font-weight: bold;
                        color: #313131;
                        margin: 0;
                    }
            
                    .rankNumber{
                        font-family: "Impact","Noto Sans CJK JP";
                        margin: 0;
            
                        .rankSpan{
                            font-size: 2rem;
                            font-weight: 800;
                            color: #d73737;
                        }
                    }
                }
        
                
            }

            .TwitterShareButton{
                margin-top: 8px;
                text-align: right;
                user-select: none;
            }
            }



            .form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 32px 0 20px;

                .anonymousWrapper{
                    
                    .checkbox{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        user-select: none;
                        margin-bottom: 6px;
    
                        .anonymous{
                            width: 22px;
                            height: 22px;
                            all: revert;
                        }
                    }
                }

            
                .Url{
                    width: 640px;
                }
            
                .fileButton{
                    color: white;
                    margin-bottom: 12px;
                    background-color: #3772d7;
                    font-size: 1.2rem;
                }

                .fileButton:hover{
                    transition: 0.2s;
                    opacity: 0.8;
                }
            
                .file[type="file"]{
                    display: none;
                }
            
                .submit{
                    font-size: 1.1rem;
                    color: white;
                    border-radius: 5px;
                    padding: 6px 14px;
                    background-color: #3772d7;
                    margin-top: 12px;
                    margin-bottom: 12px;
                    cursor: pointer;
                }

                .submit:hover{
                    transition: 0.2s;
                    opacity: 0.8;
                }

                .info{
                    display: flex;
                    align-items: center;
                    margin-left: auto;
                    margin-top: 40px;
                    font-size: 0.8rem;
                    color: #333;

                    .helpIcon{
                        padding-top: 1px;
                    }
                }
            }
            
            .twittersShare{
                display: flex;
                justify-content: center;
                background-color: #000000;

                .TwitterShareText{
                    background-color: #000000;
                    color: white;
                }
            }

            .example{
                border-top: 2px dotted #333;
                padding: 4px 0;
                .exampleTitle{
                    text-align: left;
                    font-size: 2rem;
                    margin-bottom: 8px;

                    .annotation{
                        font-size: 0.8rem;
                        color: red;
                    }
                }
    
                .exampleDescription{
                    text-align: left;
                    margin-top: 6px;
                    margin-bottom: 8px;

                    .cursor{
                        width: 24px;
                        height: 24px;
                        vertical-align: bottom;
                    }
                }
    
            }
            
            .newUrl{
                display: none;
            }
        }
    }
}

@media screen and (max-width:650px) {
    .container{
        width: 100%;
        margin: 0;
        padding-top: 100px;

        .userArea{
    
            .userAreaHead{
            
                .authImage{
                    width: 48px;
                }
            }
        }
    }
}

@media screen and (max-width:480px) {
    .container{
        width: 100%;
        margin: 0;

        .userArea{

            .userAreaHead{
                padding-bottom: 4px;
                 
                .pageTitle{
                    color: #FFFFFF;
                    padding: 12px;
                    margin-bottom: 16px;
                    font-size: 1rem;
                }
    
                .authName{
                    font-size: 0.9rem;
                }
            
                .authImage{
                    width: 40px;
                    height:40px;
                }
            }

            .userAreaBody{
                padding:0 20px 20px;

                .emptyState{
                    font-size: 1.3rem;
                    margin-top: 8px;
                }

                .dataWrapper{
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                    margin: 0 auto 20px;

                    .powerWrapper{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 20px;
                
                        .powerCaption{
                            background-color: none;
                            width: 100%;
                            padding: 0px;
                            font-size: 1rem;
                        }
                
                        .power{
                            width: 100%;
                            background-color: white;
                            padding: 4px 0;

                            .powerNumber{
                                font-family: "Impact","Noto Sans CJK JP";
                                font-size: 1.8rem;
                                font-weight: 800;
                                color: #d73737;
                                margin: 0;
                            }
                        }
                        
                    }
    
                    .rankWrapper{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 20px;
                
                        .rankCaption{
                            background-color: none;
                            width: 100%;
                            padding: 0px;
                            font-size: 1rem;
    
                        }
                
                        .rank{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
        
                            .rankCaption{
                                font-size: 1.2rem;
                                font-weight: bold;
                                color: #313131;
                                margin: 0;
                            }
                    
                            .rankNumber{
                                font-family: "Impact","Noto Sans CJK JP";
                                margin: 0;
                    
                                .rankSpan{
                                    font-size: 1.8rem;
                                    font-weight: 800;
                                    color: #d73737;
                                }
                            }
                        }
                        
                    }

                }

                .example{
                   .exampleTitle{
                       text-align: left;
                       font-size: 1.6rem;
                       margin-bottom: 8px;
       
                       .annotation{
                           font-size: 0.8rem;
                           color: red;
                       }
                   }
            }
        }
        }

    }
}