.container{
    width: 640px;
    margin: 0 auto;

    .cropper{
        position: absolute;
        top: -10000px;
        visibility: hidden;
    }

    .userArea{
        text-align: center;
        background-color: white;

        .userAreaHead{
            background-color: #d73737;
            padding-top: 8px;
            margin-bottom: 12px;

            .authName{
                color: white;
                font-size: 0.8rem;
                margin-bottom: 6px;
            }
        
            .authImage{
                border-radius: 100%;
                margin-bottom: 10px;
                width: 48px;
                height: 48px;
            }
        }
        

        .userAreaBody{
            padding: 0 40px 20px;

            .emptyState{
                font-size: 1.5rem;
                margin-top: 8px;
            }

            .rankLink{
                width: 160px;
                border-radius: 8px;
                padding: 8px;
                display: block;
                margin-left: auto;
            }

            .rankLink:hover{
                opacity: 0.8;
                transition: 0.2s;
            }

            .powerWrapper{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 4px;
                margin-bottom: 12px;
                border: 2px solid #d73737;

        
                .powerCaption{
                    font-size: 1.2rem;
                    font-weight: lighter;
                    background-color: #d73737;
                    width: 30%;
                    padding: 10px;
                    color: white;
                    margin: 0;
                }
        
                .power{
                    font-size: 1.2rem;
                    font-weight:bold;
                    background-color: white;
                    width: 70%;
                    background-color: white;
                    margin: 0;
                }
                
            }
        
            .rankWrapper{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid #d73737;
        
                .rankCaption{
                    font-size: 1.2rem;
                    font-weight: lighter;
                    background-color: gray;
                    width: 30%;
                    padding: 10px;
                    background-color: #d73737;
                    color: white;
                    margin: 0;
                }
        
                .rank{
                    background-color: white;
                    width: 70%;
                    background-color: white;
                    margin: 0;
        
                    .rankSpan{
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                }
                
            }

            .TwitterShareButton{
                margin-top: 8px;
                text-align: right;
                user-select: none;
            }

            .form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 32px 0 20px;

                .anonymousWrapper{
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    user-select: none;
                    margin-bottom: 6px;

                    .anonymous{
                        width: 22px;
                        height: 22px;
                        all: revert;
                    }
                }

            
                .Url{
                    width: 640px;
                }
            
                .fileButton{
                    color: white;
                    margin-bottom: 12px;
                    background-color: #3772d7;
                    font-size: 1.2rem;
                }

                .fileButton:hover{
                    transition: 0.2s;
                    opacity: 0.8;
                }
            
                .file[type="file"]{
                    display: none;
                }
            
                .submit{
                    font-size: 1.1rem;
                    color: white;
                    border-radius: 5px;
                    padding: 6px 14px;
                    background-color: #3772d7;
                    margin-top: 12px;
                    margin-bottom: 12px;
                    cursor: pointer;
                }

                .submit:hover{
                    transition: 0.2s;
                    opacity: 0.8;
                }

                .info{
                    font-size: 0.8rem;
                    color: #333;
                }
            }
            
            .twittersShare{
                display: flex;
                justify-content: center;
                background-color: #000000;

                .TwitterShareText{
                    background-color: #000000;
                    color: white;
                }
            }

            .example{
                border-top: 2px dotted #333;
                padding: 4px 0;
                .exampleTitle{
                    text-align: left;
                    font-size: 2rem;
                    margin-bottom: 8px;

                    .annotation{
                        font-size: 0.8rem;
                        color: red;
                    }
                }
    
                .exampleDescription{
                    text-align: left;
                    margin-top: 6px;
                    margin-bottom: 8px;

                    .cursor{
                        width: 24px;
                        height: 24px;
                        vertical-align: bottom;
                    }
                }
    
            }
            
            .newUrl{
                display: none;
            }
        }
    }
}

@media screen and (max-width:650px) {
    .container{
        width: 100%;
        margin: 0;

        .userArea{
    
            .userAreaHead{
            
                .authImage{
                    width: 48px;
                }
            }
        }
    }
}

@media screen and (max-width:480px) {
    .container{
        width: 100%;
        margin: 0;

        .userArea{
            .userAreaHead{
                .authName{
                    font-size: 0.6rem;
                }
            
                .authImage{
                    width: 40px;
                    height:40px;
                }
            }

            .userAreaBody{
                padding:0 20px 20px;

                .emptyState{
                    font-size: 1.3rem;
                    margin-top: 8px;
                }

                .powerWrapper{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
    
            
                    .powerCaption{
                        background-color: #d73737;
                        width: 100%;
                        padding: 4px;
                        font-size: 1rem;
                    }
            
                    .power{
                        width: 100%;
                        background-color: white;
                        padding: 4px 0;
                    }
                    
                }

                .rankWrapper{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
            
                    .rankCaption{
                        background-color: #d73737;
                        width: 100%;
                        padding: 4px;
                        font-size: 1rem;

                    }
            
                    .rank{
                        width: 100%;
                        background-color: white;
                        padding: 4px 0;
            
                        .rankSpan{
                            font-size: 1.2rem;
                            font-weight: bold;
                        }
                    }
                    
                }
                .example{
                   .exampleTitle{
                       text-align: left;
                       font-size: 1.6rem;
                       margin-bottom: 8px;
       
                       .annotation{
                           font-size: 0.8rem;
                           color: red;
                       }
                   }
            }
        }
        }

    }
}