.header{
    height: 60px;
    background-color: white;
    position: sticky;

    .headerInner{
        width: 640px;
        margin: 0 auto;
        display: flex;
        justify-content: end;
        position: relative;
        line-height: 60px;

        .userIcon{
            cursor: pointer;
        }

        &:hover{
            opacity: 0.8;
        }
    }
    
}

.modal{
    outline: none;
    border-radius: 7px;
    position: absolute;
    right:calc(50% - 330px);
    top: 80px;
    transform: translateY(-50%);
    width: 120px;
    margin: 0 auto;
    background-color: white;
    padding: 1rem;
    border: 1px solid #d5d5d5;
    z-index: 100000;

    .mypage{
        text-decoration: none;
    }

    .mypage:hover{
        opacity: 0.8;
        transition: 0.3s;
      }

    .logOut{
        text-decoration: none;
    }

    .logOut:hover{
        opacity: 0.8;
        transition: 0.3s;
      }
  }

  @media screen and (max-width:650px) {
    .header{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: end;
        position: relative;
        line-height: 60px;

        .headerInner{
            width: 100%;
            margin: 0 50px;
            display: flex;
            justify-content: end;
            position: relative;
            line-height: 60px;
        }
    }

    .modal{
        outline: none;
        border-radius: 7px;
        position: absolute;
        right:20px;
        top: 80px;
        transform: translateY(-50%);
        width: 120px;
        margin: 0 auto;
        background-color: white;
        padding: 1rem;
        border: 1px solid #d5d5d5;
        z-index: 100000;
    }
}