.header{
    width: 100%;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    z-index: 100;

    .headerInner{
        width: 640px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 10px 0;

        .logoWrapper{
            width: 200px;
            height: 37.2px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 0.2s ease;

            &:hover{
                transition: 0.2s;
                opacity: 0.8;
            }
        }

        .logOut{
            color: #434343;
            text-decoration: none;
        }
    }
    
    .links{
        padding-top: 20px;
        
        .linksInner{
            width: 640px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .usage{
                color: #FFFFFF;
                text-decoration: none;
                transition: all 0.2s ease;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                .usageIcon{
                  color: #FFFFFF;
                  transition: all 0.2s ease;
                }
    
                .usageText{
                  color: #212121;
                  background-color: #FFFFFF;
                  border-radius: 4px;
                  margin-top: 4px;
                  padding:0px 8px;
                  transition: all 0.2s ease;
                }
    
                &:hover .usageText{
                  color: #FFFFFF;
                  background-color: #d73737;
                }
    
                &:hover .usageIcon{
                  color: #d73737;
                }
            }
    
            
            .top{
                color: #FFFFFF;
                text-decoration: none;
                transition: all 0.2s ease;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                .topIcon{
                  color: #FFFFFF;
                  transition: all 0.2s ease;
                }
    
                .topText{
                  color: #212121;
                  background-color: #FFFFFF;
                  border-radius: 4px;
                  margin-top: 4px;
                  padding:0px 8px;
                  transition: all 0.2s ease;
                }
    
                &:hover .topText{
                  color: #FFFFFF;
                  background-color: #d73737;
                }
    
                &:hover .topIcon{
                  color: #d73737;
                }
            }
            
            .info{
                color: #FFFFFF;
                text-decoration: none;
                transition: all 0.2s ease;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                .infoIcon{
                  color: #FFFFFF;
                  transition: all 0.2s ease;
                }
    
                .infoText{
                  color: #212121;
                  background-color: #FFFFFF;
                  border-radius: 4px;
                  margin-top: 4px;
                  padding:0px 8px;
                  transition: all 0.2s ease;
                }
    
                &:hover .infoText{
                  color: #FFFFFF;
                  background-color: #d73737;
                }
    
                &:hover .infoIcon{
                  color: #d73737;
                }
            }
            
            .policy{
                color: #FFFFFF;
                text-decoration: none;
                transition: all 0.2s ease;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                .policyIcon{
                  color: #FFFFFF;
                  transition: all 0.2s ease;
                }
    
                .policyText{
                  color: #212121;
                  background-color: #FFFFFF;
                  border-radius: 4px;
                  margin-top: 4px;
                  padding:0px 8px;
                  transition: all 0.2s ease;
                }
    
                &:hover .policyText{
                  color: #FFFFFF;
                  background-color: #d73737;
                }
    
                &:hover .policyIcon{
                  color: #d73737;
                }
            }
            
            .mypage{
                color: #FFFFFF;
                text-decoration: none;
                transition: all 0.2s ease;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                .mypageIcon{
                  color: #FFFFFF;
                  transition: all 0.2s ease;
                }
    
                .mypageText{
                  color: #212121;
                  background-color: #FFFFFF;
                  border-radius: 4px;
                  margin-top: 4px;
                  padding:0px 8px;
                  transition: all 0.2s ease;
                }
    
                &:hover .mypageText{
                  color: #FFFFFF;
                  background-color: #d73737;
                }
    
                &:hover .mypageIcon{
                  color: #d73737;
                }
            }
            
            .form{
                color: #FFFFFF;
                text-decoration: none;
                transition: all 0.2s ease;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                .formIcon{
                  color: #FFFFFF;
                  transition: all 0.2s ease;
                }
    
                .formText{
                  color: #212121;
                  background-color: #FFFFFF;
                  border-radius: 4px;
                  margin-top: 4px;
                  padding:0px 8px;
                  transition: all 0.2s ease;
                }
    
                &:hover .formText{
                  color: #FFFFFF;
                  background-color: #d73737;
                }
    
                &:hover .formIcon{
                  color: #d73737;
                }
            }
            
            .logOut{
                text-decoration: none;
                transition: all 0.2s ease;
            }
            
            .logOut:hover{
                opacity: 0.8;
              }
        }
    }
   
}




  @media screen and (max-width:650px) {
    .header{
        width: 100%;
        margin: 0 auto;
        position: relative;

        .headerInner{
            width: 100%;
            display: flex;
            padding: 12px 20px;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding: 12px;
        }


        .links{
            padding: 14px 0;
            overflow-x: scroll;
            padding: 20px 20px 0;
            
            &::-webkit-scrollbar{
                height: 0;
            }

            &::-webkit-scrollbar-track{
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb{
                background-color: transparent;
            }
           
            .linksInner{
                width: 580px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
        
                .usage{
                    color: #FFFFFF;
                    text-decoration: none;
                    transition: all 0.2s ease;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
        
                    .usageIcon{
                      color: #FFFFFF;
                      transition: all 0.2s ease;
                    }
        
                    .usageText{
                      color: #212121;
                      background-color: #FFFFFF;
                      border-radius: 4px;
                      margin-top: 4px;
                      padding:0px 8px;
                      transition: all 0.2s ease;
                    }
        
                    &:hover .usageText{
                      color: #FFFFFF;
                      background-color: #d73737;
                    }
        
                    &:hover .usageIcon{
                      color: #d73737;
                    }
                }
        
                
                .top{
                    color: #FFFFFF;
                    text-decoration: none;
                    transition: all 0.2s ease;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
        
                    .topIcon{
                      color: #FFFFFF;
                      transition: all 0.2s ease;
                    }
        
                    .topText{
                      color: #212121;
                      background-color: #FFFFFF;
                      border-radius: 4px;
                      margin-top: 4px;
                      padding:0px 8px;
                      transition: all 0.2s ease;
                    }
        
                    &:hover .topText{
                      color: #FFFFFF;
                      background-color: #d73737;
                    }
        
                    &:hover .topIcon{
                      color: #d73737;
                    }
                }
                
                .info{
                    color: #FFFFFF;
                    text-decoration: none;
                    transition: all 0.2s ease;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
        
                    .infoIcon{
                      color: #FFFFFF;
                      transition: all 0.2s ease;
                    }
        
                    .infoText{
                      color: #212121;
                      background-color: #FFFFFF;
                      border-radius: 4px;
                      margin-top: 4px;
                      padding:0px 8px;
                      transition: all 0.2s ease;
                    }
        
                    &:hover .infoText{
                      color: #FFFFFF;
                      background-color: #d73737;
                    }
        
                    &:hover .infoIcon{
                      color: #d73737;
                    }
                }
                
                .policy{
                    color: #FFFFFF;
                    text-decoration: none;
                    transition: all 0.2s ease;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
        
                    .policyIcon{
                      color: #FFFFFF;
                      transition: all 0.2s ease;
                    }
        
                    .policyText{
                      color: #212121;
                      background-color: #FFFFFF;
                      border-radius: 4px;
                      margin-top: 4px;
                      padding:0px 8px;
                      transition: all 0.2s ease;
                    }
        
                    &:hover .policyText{
                      color: #FFFFFF;
                      background-color: #d73737;
                    }
        
                    &:hover .policyIcon{
                      color: #d73737;
                    }
                }
                
                .mypage{
                    color: #FFFFFF;
                    text-decoration: none;
                    transition: all 0.2s ease;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
        
                    .mypageIcon{
                      color: #FFFFFF;
                      transition: all 0.2s ease;
                    }
        
                    .mypageText{
                      color: #212121;
                      background-color: #FFFFFF;
                      border-radius: 4px;
                      margin-top: 4px;
                      padding:0px 8px;
                      transition: all 0.2s ease;
                    }
        
                    &:hover .mypageText{
                      color: #FFFFFF;
                      background-color: #d73737;
                    }
        
                    &:hover .mypageIcon{
                      color: #d73737;
                    }
                }
                
                .form{
                    color: #FFFFFF;
                    text-decoration: none;
                    transition: all 0.2s ease;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
        
                    .formIcon{
                      color: #FFFFFF;
                      transition: all 0.2s ease;
                    }
        
                    .formText{
                      color: #212121;
                      background-color: #FFFFFF;
                      border-radius: 4px;
                      margin-top: 4px;
                      padding:0px 8px;
                      transition: all 0.2s ease;
                    }
        
                    &:hover .formText{
                      color: #FFFFFF;
                      background-color: #d73737;
                    }
        
                    &:hover .formIcon{
                      color: #d73737;
                    }
                }
                
            }
        }
    }
}