.openingWrapper{
    display: none;
    
    .opening{
     display: none;
    }

  }
  
  .openingHiddenWrapper{
    display: none;
  }

  @media screen and (max-width:480px) {
  
      .openingWrapper{
        background-color: rgb(32, 32, 32);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        animation-name: fadeInAnime1;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        opacity: 0;
        z-index: 100000;
        display: block;
        
        .opening{
          width: 80%;
          margin: 0 auto;
          display: block;
          position: absolute;
          top: calc(50vh - 110px);
          right: 0;
          bottom: 0;
          left: 0;
          animation-name: fadeInAnime2;
          animation-duration: 3s;
          animation-fill-mode: forwards;
          opacity: 0;
          z-index: 1000000;
        }
        
        @keyframes fadeInAnime1 {
          0% {
            opacity: 1;
          }
    
          30%{
            opacity: 1;
          }
        
          50%{
            opacity: 1;
          }
        
          to {
            opacity: 0;
          }
        }

        @keyframes fadeInAnime2 {
          0% {
            opacity: 0;
          }
    
          40%{
            opacity: 1;
          }
        
          50%{
            opacity: 1;
          }
        
          to {
            opacity: 0;
          }
        }
      }
  
      .openingHiddenWrapper{
        display: none;
      }
    }