.container{
    width: 640px;
    margin: 0 auto;
}

.userArea{
    padding: 40px;
    text-align: center;

    .authImage{
        border-radius: 100%;
    }

    .authName{
        color: white;
        font-size: 1rem;
        margin-bottom: 12px;
    }

    .powerWrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        border-radius: 10px;
        margin-bottom: 12px;

        .powerCaption{
            font-size: 1.2rem;
            background-color: gray;
            width: 30%;
            border-top-left-radius:10px;
            border-bottom-left-radius:10px;
            padding: 10px;
        }

        .power{
            font-size: 1.2rem;
            font-weight:bold;
            background-color: white;
            width: 70%;
            border-top-right-radius:10px;
            border-bottom-right-radius:10px;
            padding: 10px;
        }
        
    }

    .rankWrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        border-radius: 10px;

        .rankCaption{
            font-size: 1.2rem;
            background-color: gray;
            width: 30%;
            border-top-left-radius:10px;
            border-bottom-left-radius:10px;
            padding: 10px;
        }

        .rank{
            background-color: white;
            width: 70%;
            border-top-right-radius:10px;
            border-bottom-right-radius:10px;
            padding: 10px;

            .rankSpan{
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
        
    }
}

.cropper{
    position: absolute;
    top: -10000px;
    visibility: hidden;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Url{
        width: 640px;
    }

    .fileButton{
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .file[type="file"]{
        display: none;
    }

    .submit{
        font-size: 1.1rem;
        color: white;
        border-radius: 10px;
        padding: 8px 14px;
        background-color: #d73737;
    }
    
    .newUrl{
        display: none;
    }
    
}


